:root{
    --color-font: rgb(132, 154, 176);
    --color-box: rgb(7, 64, 78);
    --color-background: #1c1e21;
    --font-number: 'Fascinate', cursive;
    --font-text: Roboto, sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--color-background);
}

#clock{
    width: 30rem;
    height: 30rem;
    background-color: var(--color-box);
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-font);
    font-family: var(--font-text);
}

.clock-digital{
    font-size: 4rem;
    color: var(--color-font);
    font-family: var(--font-number);
}

#miliseconds{
    font-size: 2.5rem;
}

.container-controls{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 2rem;
}

.container-controls button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    color: var(--color-background);
    font-size: 30px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: solid 0;
}

#selectClock{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#selectClock button{
    width: 30%;
    max-width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-box);
    cursor: pointer;
    outline: none;
    border: solid 0px;
}

#selectClock img{
    height: 40px;
    margin: 5px;
}

.formControls{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    /* padding: 0 auto; */
}

.container-inputs input{
    width: 5rem;
    height: 3rem;
    text-align: center;
    font-family: var(--font-text);
    background-color: var(--color-box);
    border: solid 0px;
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--color-background);
}